<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}ENZO To-Do{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>