<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %}ENZO To-Do: Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<p style="text-align:right;">
	<button type="button">Home</button>
	<button type="button">About</button>
	<button type="button">Profile</button>
	<button onclick="location.href='{% url 'logout' %}'" type="button">
        Log Out</button>
	<button onclick="location.href='{% url 'password_reset' %}'" type="button">
        Password Reset</button>
	<button type="button">Contact Us</button>
	<input type="text" placeholder="Search..">
</p>
<img src="https://pesmcopt.com/admin-media/images/default-logo.png" alt="Enzo logo">
<enzotitle>ENZO To-Do</enzotitle>
<center>
Hi {{ user.username }}!
</center>
<center>
<button type="button"><---</button>
	<script language="JavaScript">
	<!--
	date=Date()
	document.write(date.substr(0, 15))
	//-->
	</script>
<button type="button">---></button>
</center>
<br>






























{% else %}
  <center class="home-form">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  <br>
  <a href="{% url 'signup' %}">Sign Up</a>
  <br>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  </center>
  
{% endif %}
{% endblock %}


