body
{  
   
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   color: black;
   background-image: url(background.jpg);
   background-size: cover;
   
}

enzoTitle
{
	font-size: 3.5em;
}
dateCenter
{
	text-align: center;
}
div.a {
  text-align: right;
}

.home-form
{
	width:300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	color: black;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;

}

.sign-up-form
{
	width:600px;
	box-shadow: 5px 10px grey;
	border: 1px solid;
        padding: 10px;
  
	background: #fff;
	color: black;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;

}

.password-reset-form
{
	width:600px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	color: black;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;

}


