<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    
  <center class="password-reset-form"><h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
   {% csrf_token %}
   
    <input type="hidden" name="csrfmiddlewaretoken" value="uhnqfdvYxrjIzpxGmvIApEt6ygV99EOgIIPdDrBv1xT9BAAZrxZ0vCK3Uvgu5Kac">
    <p><label for="id_email">Email:</label> <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"></p>
    <input type="submit" value="Send me instructions!">
  </form></center>
{% endblock %}