<!-- templates/registration/signup.html -->


<link rel="stylesheet" type="text/css" href="/static/ENZO/style.css">
<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<h1><a>Hello</h1></a>
<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/static/css/blog.css">
</head>
<body>
  <main>
    
  <h2>Sign up</h2>
  <form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="v9v5PWgrh1OTN0yPrb26KNI0ycxvNNGY7BhpAbqj2AO3qa7238qBgLlSWwasgvgG">
    <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
<p><label for="id_password1">Password:</label> <input type="password" name="password1" autocomplete="new-password" required id="id_password1"> <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span></p>
<p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" autocomplete="new-password" required id="id_password2"> <span class="helptext">Enter the same password as before, for verification.</span></p>
    <button type="submit">Sign Up</button>
        {% csrf_token %}
  </form>

  </main>
</body>
</html>