<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<html>
	<head>
	
	<center class="sign-up-form">
  <h2>Sign up</h2>

		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		
	</head>
	<body class="bg-cyan">
		<div class="body body-s">
		
			<form action="" class="sign-up-form">
				<!--header>Registration form</header-->
				
				<fieldset>					
					<section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<input type="text" placeholder="Username">
							<b class="tooltip tooltip-bottom-right">Only characters and numbers</b>
						</label>
					</section>
					
					<section>
						<label class="input">
							<i class="icon-append icon-envelope-alt"></i>
							<input type="text" placeholder="Email address">
							<b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
						</label>
					</section>
					
					<section>
						<label class="input">
							<i class="icon-append icon-lock"></i>
							<input type="password" placeholder="Password">
							<b class="tooltip tooltip-bottom-right">Only characters and numbers</b>
						</label>
					</section>
					
					<section>
						<label class="input">
							<i class="icon-append icon-lock"></i>
							<input type="password" placeholder="Confirm password">
							<b class="tooltip tooltip-bottom-right">Only characters and numbers</b>
						</label>
					</section>
				</fieldset>
					
				<!--fieldset>
					<div class="row">
						<section class="col col-6">
							<label class="input">
								<input type="text" placeholder="First name">
							</label>
						</section>
						<section class="col col-6">
							<label class="input">
								<input type="text" placeholder="Last name">
							</label>
						</section>
					</div-->
					
					<!--section>
						<label class="select">
							<select>
								<option value="0" selected disabled>Gender</option>
								<option value="1">Male</option>
								<option value="2">Female</option>
								<option value="3">Other</option>
							</select>
							<i></i>
						</label>
					</section-->
					
					<section>
						<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>I agree to the Terms of Service</label>
						<!--label class="checkbox"><input type="checkbox" name="checkbox"><i></i>I want to receive news and  special offers</label-->
					</section>
				</fieldset>
				<footer>
					<button type="signup" class="button">Sign Up</button>
				</footer>
			</form>
			
		</div>
	</body>
</html>
</center>

{% endblock %}