<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %}ENZO To-Do: Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<p style="text-align:right;">
	<button type="button">Home</button>
	<button type="button">About</button>
	<button type="button">Profile</button>
	<button onclick="location.href='{% url 'logout' %}'" type="button">
        Log Out</button>
	<button onclick="location.href='{% url 'password_reset' %}'" type="button">
        Password Reset</button>
	<button type="button">Contact Us</button>
	<input type="text" placeholder="Search..">
</p>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmaidcleantx.com%2Fimage-sitemap-1.xml&psig=AOvVaw2xWgFwBUmv9Yz1dTLNExiD&ust=1603482779716000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJCRhoH9yOwCFQAAAAAdAAAAABAD" alt="Enzo logo">
<enzotitle>ENZO To-Do</enzotitle>
<center>
Hi {{ user.username }}!
</center>
<center>
<button type="button"><---</button>
	<script language="JavaScript">
	<!--
	date=Date()
	document.write(date.substr(0, 15))
	//-->
	</script>
<button type="button">---></button>
<br>



<!-- BEGIN TASK APP -->
<div class="center-column">

	<form method="POST" action="/">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>
	<br>
	<a class="btn btn-sm btn-danger" href="{% url 'report_generation' %}"> Generate Report </a>
	<br><br>
	<div class="todo-list">
	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}"> Update </a>
			<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}"> Delete </a>

			{% if task.complete == True %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}			
		</div>
	{% endfor %}

	</div>
</div>
</center>
<!-- END TASK APP -->


















{% else %}
  <center class="home-form">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  <br>
  <a href="{% url 'signup' %}">Sign Up</a>
  <br>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
  </center>
  
{% endif %}
{% endblock %}



